@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --col-gap: 8px;
  --side-padding-mobile: calc(16px - var(--col-gap));
  --side-padding-desktop: calc(12px - var(--col-gap));
  /* Text-size styles */
  /* base size: arch-heading-2 (16px) */
  --arch-heading-0: 3rem;
  --arch-heading-1: 1.5rem;
  --arch-heading-2: 1rem;
  --arch-heading-3: 0.75rem;
  --arch-heading-4: 0.62rem;
  --arch-heading-5: 0.62rem;
  --arch-body-1: 0.88rem;
  --arch-body-2: 0.75rem;
  --arch-body-3: 0.62rem;
  --arch-txt-li: 0.62rem;
  --arch-input: 0.62rem;

  /* Effect styles */
  --123: 2px 2px 4px rgba(128, 128, 128, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.5);
  --321: inset 2.5px 2.5px 5px rgba(128, 128, 128, 0.5),
    inset -2.5px -2.5px 5px rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100svw;
  font-family: "Roboto", sans-serif;
}

/* Performance optimizations */
html {
  scroll-behavior: smooth;
  will-change: scroll-position;
}

body {
  position: relative;
  margin: 0 !important;
  background-color: var(--bg-tertiary);
  background-size: 8px 8px;
  background-image:
    linear-gradient(to right, var(--gray-alpha-10) 1px, transparent 1px),
    linear-gradient(to bottom, var(--gray-alpha-10) 1px, transparent 1px);
  max-width: 100svw;
  /* Performance optimizations */
  transform: translateZ(0);
  backface-visibility: hidden;
}
#services, #skills {
  background-image: url("/src/lib/images/iso-grid.svg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.text-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  background: -webkit-linear-gradient(left, var(--bleu-600), var(--bleu-400));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
[data-theme="dark"] .text-title {
  background: -webkit-linear-gradient(left, var(--bleu-300), var(--bleu-600));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-caption {
  font-size: 1rem;
  background: none;
  text-transform: uppercase;
  color: var(--text-accent);
}

.text-subheader {
  font-size: 1.2rem;
  color: var(--text-primary);
}

.grainy:not(.hero)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/src/lib/images/grainy-texture.png") center center;
  background-size: 64px 64px;
  filter: invert(0.15);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.bg-texture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-tertiary);
  background: url("/src/lib/images/grainy-texture.png") center center;
  background-size: 40px 40px;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 1;
}

.hero.grainy::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background: url("/src/lib/images/grainy-texture.png") center center;
  background-size: 64px 64px;
  filter: invert(0.15);
  mix-blend-mode: multiply;
  pointer-events: none;
}

[data-theme="dark"] {
  body {
    background-attachment: scroll;
    background-color: var(--bg-tertiary);
    background-image: linear-gradient(to right,
        rgba(66, 133, 192, 0.1) 1px,
        transparent 1px),
      linear-gradient(to bottom, rgba(66, 133, 192, 0.1) 1px, transparent 1px);
  }

  /* .bg-texture::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/src/lib/images/grainy-texture-dark.png") center center;
    background-size: 100px 100px;
    mix-blend-mode: multiply;
    filter: invert(1);
    z-index: -5;
  } */

  .bg-texture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/src/lib/images/grainy-texture-dark.png") center center;
    background:none;
    filter: brightness(1.2);
    background-size: 100px 100px;
    mix-blend-mode: overlay;
    z-index: -5;
  }

  body::before {
    background-color: var(--bg-tertiary);
    background-size: 16px 16px;
  }

  .grainy:not(.hero)::before {
    background: url("/src/lib/images/grainy-texture-dark.png");
    mix-blend-mode: overlay;
    z-index: -5;
    pointer-events: none;
  }
}

.main-content {
  position: relative;
  background-color: var(--bg-primary);
  min-height: 10svh;
  padding: 0 1rem 1rem 1rem;
  row-gap: 8px;
  grid-column: 2 / -2;
  flex-direction: column;
}

/* .desktop-only {
  z-index: -100;
  opacity: 0;
}

.mobile-only {
  z-index: 1;
  opacity: 1;
} */
.radial-deco-wrapper {
  display: block;
}

.stripped-divider {
  grid-column: 2 / -2;
  width: 100%;
  background: repeating-linear-gradient(to right,
      #dadada,
      #dadada 10px,
      transparent 10px,
      transparent 20px);
  height: 100px;
  background-color: #e9e8e6;
  width: 100%;
  border: 1.5px solid var(--border-tertiary);
  border-top: 0;
  border-bottom: 0;
}

main,
nav,
footer,
section,
.hero-main,
.nav-container,
ul.axes {
  display: grid;
  grid-template-columns: var(--side-padding-mobile) repeat(4, 1fr) var(--side-padding-mobile);
  justify-items: center;
  column-gap: var(--col-gap);
  overflow: hidden;
  grid-template-rows: 1fr;
}

section {
  position: relative;
}

@media (min-width: 720px) {
section:not(#projects):not(.hero-main):not(.mobile-only):after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: calc(100% - 2px);
  width: calc(100% - 1.5rem); 
  border: 1px solid var(--bleu-200);
  z-index: 1;
  pointer-events: none;
}
[data-theme="dark"] section:not(#projects):not(.hero-main):not(.mobile-only):after {
  border: 1px solid var(--bleu-50);
}
}

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--col-gap);
}

@media (min-width: 480px) {

  main,
  .hero-main,
  nav,
  footer,
  section,
  .nav-container,
  ul.axes {
    grid-template-columns: var(--side-padding-desktop) repeat(6, 1fr) var(--side-padding-desktop);
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 720px) {
  .radial-deco-wrapper {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 3 !important;
  }
  main,
  .hero-main,
  nav,
  footer,
  section,
  .nav-container,
  ul.axes {
    grid-template-columns: var(--side-padding-desktop) repeat(8, 1fr) var(--side-padding-desktop);
  }
}


@media (min-width: 1029px) {

  main,
  nav,
  footer,
  section,
  ul.axes,
  .hero-main,
  .nav-container {
    grid-template-columns: var(--side-padding-desktop) repeat(12, 1fr) var(--side-padding-desktop);
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: var(--col-gap);
    row-gap: 1rem;
  }
}

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Heading Styles */
.arc-h0 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  /* ExtraBold */
  font-size: 48px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 16px;
  /* ~1/3 * 48px */
}

.arc-h1 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  /* ExtraBold */
  font-size: 24px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 8px;
  /* ~1/3 * 24px */
}

.arc-h2 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  /* Bold */
  font-size: 18px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 5px;
  /* ~1/3 * 16px */
}

.arc-h3 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  /* ExtraBold */
  font-size: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 4px;
  /* ~1/3 * 12px */
}

.arc-h4 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  /* ExtraBold */
  font-size: 14px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 3px;
  /* ~1/3 * 10px */
}

.arc-h5 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  /* Bold */
  font-size: clamp(10px, 3vw, 12px);
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 3px;
  /* ~1/3 * 10px */
}
.arc-h6 {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  /* ExtraBold */
  font-size: clamp(8px, 3vw, 10px);
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 2px;
  /* ~1/3 * 10px */
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

/* Body Styles */
.arc-body-0 {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  /* Book */
  font-size: clamp(16px, 4vw, 20px);
  color: var(--text-secondary);
}

.arc-body-1 {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  /* Book */
  font-size: clamp(12px, 3vw, 16px);
  color: var(--text-secondary);
}

.arc-body-2 {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  /* Book */
  font-size: clamp(12px, 3vw, 14px);
  color: var(--text-tertiary);
}

.arc-body-3 {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  /* Book */
  font-size: 10px;
  color: var(--text-tertiary);
}

/* List Item Style */
.arc-mono {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-weight: 500;
  /* Regular */
  font-size: 14px;
  color: var(--text-secondary);
}

.arc-txt-li {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 10%;
  color: var(--text-secondary);
}

/* Input Style */
.arc-input {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  /* Bold */
  font-size: 10px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
}

.color-invert {
  color: var(--white);
}

[class*="arc-button"] {
  background-color: var(--white);

  #button-text {
    padding-bottom: 0;
  }
}

button {
  border: none;
  background: none;
}


.square {
  position: absolute;
  height: 8px;
  width: 8px;
  border: 2px solid var(--border-primary);
  background-color: var(--white);
}

.square.top-right {
  top: -4px;
  right: -4px;
  transition: all 0.6s ease-in-out;
}

.square.top-left {
  top: -4px;
  left: -4px;
  transition: all 0.6s ease-in-out;
}

.square.bottom-left {
  bottom: -4px;
  left: -4px;
  transition: all 0.6s ease-in-out;
}

.square.bottom-right {
  bottom: -4px;
  right: -4px;
  transition: all 0.6s ease-in-out;
}

[data-theme="dark"] {
  .square {
    border-color: var(--border-secondary);
  }

  .stripped-divider {
    background: repeating-linear-gradient(to right,
        var(--fg-primary),
        var(--fg-primary) 10px,
        transparent 10px,
        transparent 20px);
    background-color: var(--bg-sunken-1);
  }
}