@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --col-gap: 8px;
  --side-padding-mobile: calc(16px - var(--col-gap));
  --side-padding-desktop: calc(12px - var(--col-gap));
/* Text-size styles */
/* base size: arch-heading-2 (16px) */
--arch-heading-0: 3rem;
--arch-heading-1: 1.5rem;
--arch-heading-2: 1rem;
--arch-heading-3: 0.75rem;
--arch-heading-4: 0.62rem;
--arch-heading-5: 0.62rem;
--arch-body-1: 0.88rem;
--arch-body-2: 0.75rem;
--arch-body-3: 0.62rem;
--arch-txt-li: 0.62rem;
--arch-input: 0.62rem;

/* Effect styles */
--123:  2px 2px 4px rgba(128, 128, 128, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
--321: inset 2.5px 2.5px 5px rgba(128, 128, 128, 0.5),inset -2.5px -2.5px 5px rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100svw;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  margin: 0 !important;
  background-color: var(--bg-tertiary);
  background-size: 16px 16px;
  background-image:
    linear-gradient(to right, var(--gray-alpha-10) 1px, transparent 1px),
    linear-gradient(to bottom, var(--gray-alpha-10) 1px, transparent 1px);
    max-width: 100svw;
}

.text-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  background: -webkit-linear-gradient(left,
      var(--bleu-400),
      var(--bleu-600));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.text-caption {
  font-size: 1rem;
  background: none;
  text-transform: uppercase;
  color: var(--text-accent);
}

.text-subheader {
  font-size: 1.2rem;
  color: var(--text-primary);
}

.bg-texture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("src/lib/images/grainy-texture.png") center center;
  background-size: 40px 40px;
  filter: invert(0.15);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.grainy:not(.hero)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("src/lib/images/grainy-texture.png") center center;
  background-size: 64px 64px;
  filter: invert(0.15);
  mix-blend-mode: multiply;
  pointer-events: none;
}
.hero.grainy::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background: url("src/lib/images/grainy-texture.png") center center;
  background-size: 64px 64px;
  filter: invert(0.15);
  mix-blend-mode: multiply;
  pointer-events: none;
}

/* .desktop-only {
  z-index: -100;
  opacity: 0;
}

.mobile-only {
  z-index: 1;
  opacity: 1;
} */

main,
nav,
footer,
section,
.nav-container,
ul.axes {
  display: grid;
  grid-template-columns: var(--side-padding-mobile) repeat(4, 1fr) var(--side-padding-mobile);
  justify-items: center;
  column-gap: var(--col-gap);
}

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--col-gap);
}

@media (min-width: 480px) {

  main,
  nav,
  footer,
  section,
  .nav-container,
  ul.axes {
    grid-template-columns: var(--side-padding-desktop) repeat(8, 1fr) var(--side-padding-desktop);
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

/* .desktop-only {
  z-index: 1;
  opacity: 1;
}

.mobile-only {
  z-index: -100;
  opacity: 0;
} */

@media (min-width: 1029px) {

  main,
  nav,
  footer,
  section,
  ul.axes,
  .nav-container {
    grid-template-columns: var(--side-padding-desktop) repeat(12, 1fr) var(--side-padding-desktop);
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: var(--col-gap);
    row-gap: 1rem;
  }
}

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* Heading Styles */
.arc-h0 {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800; /* ExtraBold */
  font-size: 48px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 16px; /* ~1/3 * 48px */
}

.arc-h1 {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800; /* ExtraBold */
  font-size: 24px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 8px; /* ~1/3 * 24px */
}

.arc-h2 {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 18px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 5px; /* ~1/3 * 16px */
}

.arc-h3 {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700; /* ExtraBold */
  font-size: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 4px; /* ~1/3 * 12px */
}

.arc-h4 {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600; /* ExtraBold */
  font-size: 14px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 3px; /* ~1/3 * 10px */
}

.arc-h5 {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 10px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 3px; /* ~1/3 * 10px */
}

/* Body Styles */
.arc-body-1 {
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400; /* Book */
  font-size: 16px;
  color: var(--text-secondary);
}

.arc-body-2 {
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400; /* Book */
  font-size: 14px;
  color: var(--text-tertiary);
}

.arc-body-3 {
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400; /* Book */
  font-size: 10px;
  color: var(--text-tertiary);
}

/* List Item Style */
.arc-mono {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-weight: 500; /* Regular */
  font-size: 14px;
  color: var(--text-secondary);
}
.arc-txt-li {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 10%;
  color: var(--text-secondary);
}
/* Input Style */
.arc-input {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600; /* Bold */
  font-size: 10px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--text-primary);
} 
.color-invert {
  color: var(--white);
}
  [class*="arc-button"] {
    background-color: var(--white);
  }
  .arc-button-primary {
    background-color: var(--white);
    color: var(--text-primary);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.25) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%232b2b3100'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='%233b82f6cc'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }
  .arc-button-secondary {
    background-color: transparent;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(0.6) rotate(0)'><rect x='0' y='0' width='200%' height='100%' fill='%232b2b3100'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='1' stroke='%23ffffffff' fill='none'/></pattern></defs><rect width='800%' height='400%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    color: var(--white);
  }
  .arc-button-secondary.invert {
    background-color: var(--bg-blueprint);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(0.6) rotate(0)'><rect x='0' y='0' width='200%' height='100%' fill='%232b2b3100'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='1' stroke='%23ffffff' fill='none'/></pattern></defs><rect width='800%' height='400%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    color: var(--white);
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
  }
  .button-wrapper {
    position: relative;
    height: 32px;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .square {
    position: absolute;
    height: 8px;
    width: 8px;
    border: 1px solid var(--border-primary);
    background-color: var(--white);
  }

  .square.top-right {
    top: -4px;
    right: -4px;
    transition: all 0.6s ease-in-out;
  }
  .square.top-left {
    top: -4px;
    left: -4px;
    transition: all 0.6s ease-in-out;
  }
  .square.bottom-left {
    bottom: -4px;
    left: -4px;
    transition: all 0.6s ease-in-out;
  }
  .square.bottom-right {
    bottom: -4px;
    right: -4px;
    transition: all 0.6s ease-in-out;
  }