html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c8c8c8;
}
main,
nav,
footer {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  justify-items: center;
  column-gap: 8px;
  padding: 0 16px;
  outline: 1px solid gray;
  & > * {
    outline: 1px solid lightgray;
  }
  & .main-grid {
    grid-column: 1 / -1;
  }
}

@media (min-width: 481px) {
  main,
  nav,
  footer {
    grid-template-columns: repeat(8, 1fr);
    padding: 0 12px;
    & .main-grid {
      grid-column: 2 / -2;
    }
  }
}

@media (min-width: 721px) {
  main,
  nav,
  footer {
    grid-template-columns: repeat(12, 1fr);
  }
}
