html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 8px;
  padding: 0 12px;
  outline: 1px solid gray;
}
/* 
section .hero {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
} */

@media (min-width: 481px) and (max-width: 720px) {
  main {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 721px) {
  main {
    grid-template-columns: repeat(12, 1fr);
  }
}
